<div class="chat-listing chat-listing-group" data-chat-id="{{id}}">
    <div class="color-stripe" style="background: #2196F3"></div>
    <div class="chat-title">{{title}}</div>
    <div class="members-list">{{members}}</div>
    <div class="most-recent">{{#if mostRecent}}{{mostRecent.sender}}: {{mostRecent.message}}{{else}}No messages yet.{{/if}}</div>
    <div class="unread-count">0</div>
</div>