<ala-chat-card chat-id="{{id}}" {{#if starred}}starred{{/if}}>
	<header>
		<h2>{{title}}</h2>
		<ala-header-icons float="right">
			<ala-icon id="star" class="mdi mdi-star"></ala-icon>
		</ala-header-icons>
	</header>
	<ala-last-message>
		{{#if lastMessage}}
		<span class="message">{{lastMessage.message}}</span>
		<span class="timestamp">{{lastTimestamp.timestamp}}</span>
		{{else}}
		<span class="message hint">No messages yet</span>
		<span class="timestamp"></span>
		{{/if}}
	</ala-last-message>
	<ala-user-list>
		{{#each members}}
		<ala-user>{{gravatar email 32}}{{screenName}}</ala-user>
		{{/each}}
	</ala-user-list>
</ala-chat-card>